/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0.7em;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .2em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .7em;
  height: 1.7em;
  border-radius: 5px;
  display: block;
  width: 100%;
  // box-sizing: content-box;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  background-color: #405061;
    color: white;
}

.heroes .text{
  margin-left: 25%;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/